<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>LogIn Page</h2>
    <form action="/user/login" method="post">
        <label for="mail">Email:</label>
        <input type="email" name="email" id="mail">
        <br><br>        
        <label for="pass">Password:</label>
        <input type="password" name="password" id="pass">
        <br><br>
        <button type="submit">LogIn</button>

    </form>
</body>
</html>