<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD NEW USER</title>
</head>
<body>
    <form action="/posts" method="POST">
        <input type="text" placeholder="enter name" name="username">
        <br>
        <textarea name="comments" placeholder="write your post"></textarea>
        <br>
        <button>Submit post </button>
    </form>
</body>
</html>