*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.chats{
    background-color: antiquewhite;
    padding: 10px;
    margin: 5px;
    display:inline-block;
    border-radius: 5px;
}
.msg{
    background-color: greenyellow;
    border: 1px dotted white;
   border-radius: 10px;
}